{% extends base_template %}

{% block header %}
    <h1>Mis datos</h1>
{% endblock header %}

{% block content %}

<form action="" method="POST">
    {% if form_update %}
        
        {% csrf_token %}
        {% comment %} {{ form_update.as_p }} {% endcomment %}

        <div class="input-group mb-3 justify-content-center">
            <label for="old_password" class="label">
                <span name="old_password" class="form-control bg-light">
                    {{ form_update.old_password.label_tag }}
                    {{ form_update.old_password }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="new_password1" class="label">
                <span name="new_password1" class="form-control bg-light">
                    {{ form_update.new_password1.label_tag }}
                    {{ form_update.new_password1 }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="new_password2" class="label">
                <span name="new_password2" class="form-control bg-light">
                    {{ form_update.new_password2.label_tag }}
                    {{ form_update.new_password2 }}
                </span>
            </label>
        </div>
        <ul class="info-password list-group mb-3 p-3 mx-auto">
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña debe contener al menos 8 caracteres.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser una clave utilizada comúnmente.</li>
            <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser completamente numérica</li>
        </ul>

    {% else %}
        {{ error }}
    {% endif %}
    
    <div class="mx-auto text-center">
        <button class="btn btn-success mt-3" type="submit">
            Modificar datos
        </button>
        <button class="btn btn-primary mt-3" type="button">
            <a href="{% url 'user_data' %}">Volver a mis datos</a>
        </button>
    </div>
    
</form>


<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul> 
 
{% comment %} <a href="{% url 'register_vehicle' %}">Registrar nuevo Vehículo</a> {% endcomment %}


{% endblock content %}