{% extends base_template %}

{% block header %}
    <h1>Mis datos</h1>
{% endblock header %}

{% block content %}

<form action="" method="POST">
    {% if form_update %}
        {% comment %} {% for data in list_data_update %} {% endcomment %}
        {% csrf_token %}
        {{ form_update.as_p }}
        {% comment %} <li>Username: {{ list_data_update.username }}</li>
        <li>Email: {{ list_data_update.email }}</li>
        <li>Nombre: {{ list_data_update.first_name }}</li>
        <li>Apellido: {{ list_data_update.last_name }}</li>  {% endcomment %}
        {% comment %} {% endfor %}     {% endcomment %}
    {% else %}
        {{ error }}
    {% endif %}
    <button type="submit">
        Modificar datos
    </button>
</form>
<button>
    <a href="{% url 'user_data' %}">Volver a mis datos</a>
</button>


<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul> 
 
{% comment %} <a href="{% url 'register_vehicle' %}">Registrar nuevo Vehículo</a> {% endcomment %}
{% endblock content %}