{% extends 'base.html' %}

{% block header %}
    <h1>Checklist Vehículo: {{ checklist.job.appointment.vehicle }}</h1>
    <h3>Cita ID: {{ checklist.id }}</h3>
{% endblock header %}

{% block content %}

    <form method="POST"> 
        
        {% csrf_token %}
        {{ form_checklist.as_p }}
        <button type="submit">
            Guardar
        </button>
    </form>
    <br>
    <button>
        <a href="{% url 'list_jobs_inprogress' %}">
            Volver a Listado de Trabajos
        </a>
    </button>

{% comment %} 
    action="{% url 'update_job' checklist.id %}"
{% endcomment %}

{% endblock content %}