{% extends 'base.html' %}

{% block header %}
    <h1>Listado de Citas Pendientes</h1>
{% endblock header %}

{% block content %}
    <ul>
        {% for date in list_appointments %}
        {% if not date.inprogress %}
            <li>{{ date.id}}. {{ date }}</li>
            {% if date.description_customer %}
            <li>Descripción del Cliente: {{ date.description_customer }}</li>
            {% else %}
            <li>Descripción del Cliente: Sin descripción</li>
            {% endif %}

            <form method="POST" action="{% url 'generate_ot' date.id %}">
                {% csrf_token %}
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description" required>
                <button type="submit">
                    Generar OT
                </button>
            </form>
            <br>  
            <form action="{% url 'delete_job_pending' date.id 'pending' %}" method="POST">
                {% csrf_token %} 
                <button>
                    Eliminar
                </button>
            </form>
        {% endif %}
        {% endfor %}
    </ul>


    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

{% endblock content %}

