{% extends 'base_recepcionist.html' %}

{% block header %}
    <h1>Listado de Citas Pendientes</h1>
{% endblock header %}

{% block content %}

    
    {% if list_appointments %}
        {% for date in list_appointments %}
        {% if not date.inprogress and date.date_finished is None %}

        <article class="jobs row border rounded shadow mb-3 p-1 ps-3">
            <ul class="list-group mt-2">
                <li class="list-group-item list-group-item-secondary">&#127380; Cita: {{ date.id  }}</li>
                <li class="list-group-item">{{ date }}</li>
                {% if date.description_customer %}
                <li class="list-group-item">Descripción del Cliente: {{ date.description_customer }}</li>
                {% else %}
                <li class="list-group-item">Descripción del Cliente: Sin descripción</li>
                {% endif %}
            </ul>
                {% comment %} <li class="">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">{{ form_job.description_job.label_tag }}</span>
                        {{ form_job.description_job }}
                      </div>
                </li> {% endcomment %}


                {% comment %} <li class="list-group-item">
                    <div class="input-group mb-3 ">  
                        <label for="username" class="label w-100">
                            <span name="username" class="form-control ">
                                {{ form_job.description_job.label_tag }}
                                {{ form_job.description_job }}
                            </span>
                        </label>
                    </div>
                </li>
            </ul> {% endcomment %}
            <form method="POST" action="{% url 'generate_ot' date.id %}" class="form-job-pending">
                {% csrf_token %}
                {% comment %} <label for="description">Descripción:</label> {% endcomment %}
                {% comment %} <input type="text" name="description" id="description" required> {% endcomment %}
                {% comment %} {{ form_services.as_p }} {% endcomment %}

                {% comment %} {{ form_job.as_p }} {% endcomment %}
                <div class="job-pending input-group">
                    <span class="input-group-text" id="basic-addon1">{{ form_job.description_job.label_tag }}</span>
                    {{ form_job.description_job }}
                </div>

                {% comment %} <div class="input-group mb-3 ">  
                    <label for="username" class="label w-100">
                        <span name="username" class="form-control ">
                            {{ form_job.description_job.label_tag }}
                            {{ form_job.description_job }}
                        </span>
                    </label>
                </div> {% endcomment %}

                <div class="text-center mx-auto my-2">
                    <button class="btn btn-success mt-3" type="submit">
                        Generar Trabajo
                    </button>
                    <form action="{% url 'delete_job_pending' date.id 'pending' %}" method="POST">
                        {% csrf_token %} 
                        <button class="btn btn-danger mt-3">
                            Cancelar
                        </button>
                    </form>
                </div>
            </form>
        </article>
        {% endif %}
        {% endfor %}

    {% else %}
        <li class="list-group-item list-group-item-warning">{{ error }}</li>
    {% endif %}
    


    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

{% endblock content %}

