{% extends 'base_recepcionist.html' %}

{% block header %}
    <h1>Registrar Recepcionista</h1>
{% endblock header %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% comment %} {{form_register.as_p}} {% endcomment %}
    
    <div class="input-group mb-3 justify-content-center">
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.username.label_tag }}
                {{ form_register.username }}
            </span>
        </label>
    </div>
    <ul class="info-password list-group mb-3 p-3 mx-auto">
        <li class="list-group-item list-group-item-info text-center">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
        <li class="list-group-item list-group-item-info text-center">Su contraseña debe contener al menos 8 caracteres.</li>
        <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser una clave utilizada comúnmente.</li>
        <li class="list-group-item list-group-item-info text-center">Su contraseña no puede ser completamente numérica</li>
    </ul>
    <div class="input-group mb-3 justify-content-center">  
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.password1.label_tag }}
                {{ form_register.password1 }}
            </span>
        </label>
    </div>
    <div class="input-group mb-3 justify-content-center">  
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.password2.label_tag }}
                {{ form_register.password2 }}
            </span>
        </label>
    </div>
    <div class="input-group mb-3 justify-content-center">  
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.first_name.label_tag }}
                {{ form_register.first_name }}
            </span>
        </label>
    </div>
    <div class="input-group mb-3 justify-content-center">  
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.last_name.label_tag }}
                {{ form_register.last_name }}
            </span>
        </label>
    </div>
    <div class="input-group mb-3 justify-content-center">  
        <label for="username" class="label">
            <span name="username" class="form-control ">
                {{ form_register.email.label_tag }}
                {{ form_register.email }}
            </span>
        </label>
    </div>
    <div class="text-center mx-auto mt-3">
        <button class="btn btn-success mb-3">
            Registrar
        </button>
    </div>

</form>
{{error}}

{% endblock content %}
