{% extends 'base_recepcionist.html' %}
{% load filters %}

{% block header %}
    <h1>Checklist Vehículo: {{ job.appointment.vehicle }}</h1>
    <h3>&#127380; Cita: {{ job.appointment.id }} &#8470; Orden Trabajo: {{ job.id }}</h3>
{% endblock header %}

{% block content %}
    <h3 class="text-center">Actualizar descripción del trabajo:</h3>
    <form method="POST" id="updateJobForm"> 
        
        {% csrf_token %}
        {% comment %} {{ form_job.as_p }} {% endcomment %}
        <div class="input-group mb-3 justify-content-center">  
            <label for="description_job" class="label">
                <span name="description_job" class="form-control block-inline align-items-top">
                    {{ form_job.description_job.label_tag }}
                    {{ form_job.description_job }}
                </span>
            </label>
        </div>

        <hr>

        <h3 class="text-center">Agregar servicios al trabajo:</h3>
        {% for service in form_service %}
        <ul class="list-services-job list-group mx-auto fit-content">
            <li class="list-group-item">{{ service }}</li>
        </ul>
        {% endfor %}

        <div class="text-center mx-auto mt-3">
            <button class="btn btn-success mt-3" type="submit">
                Guardar Servicios
            </button>
            <button class="btn btn-primary mt-3">
                <a href="{% url 'list_jobs_inprogress' %}">
                    Volver a Listado de Trabajos
                </a>
            </button>
        </div>
    </form>



    {% comment %} <script>
        // Espera a que se cargue completamente la página
        document.addEventListener('DOMContentLoaded', function() {
            // Encuentra el formulario por su ID
            const updateJobForm = document.getElementById('updateJobForm');
    
            // Agrega un manejador de eventos para el evento 'submit' del formulario
            updateJobForm.addEventListener('submit', function(event) {
                // Encuentra el campo de selección de servicios por su nombre
                const serviceField = document.getElementsByName('service');
    
                // Restablece el campo de selección de servicios deseleccionando todos los elementos
                serviceField.forEach(function(checkbox) {
                    checkbox.checked = false;
                });
            });
        });
    </script> {% endcomment %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    
{% endblock content %}