{% extends 'base.html' %}

{% block header %}
    <h1>Mis datos</h1>
{% endblock header %}

{% block content %}

<ul>
    {% if list_data %}
        {% for data in list_data %}
            <li>Username: {{ data.username }}</li>
            <li>Email: {{ data.email }}</li>
            <li>Nombre: {{ data.first_name }}</li>
            <li>Apellido: {{ data.last_name }}</li> 
            {% comment %} <li>{{ data.vehicle }}</li> {% endcomment %}
            <button><a href="{% url 'detail_user_data' data.id %}">Modificar datos</a></button>
        {% endfor %}    
    {% else %}
        {{ error }}
    {% endif %}
</ul>
{% comment %} <button><a href="{% url 'detail_user_data' user.id %}">Modificar datos</a></button> {% endcomment %}

<p>VER </p> 
 
{% comment %} <a href="{% url 'register_vehicle' %}">Registrar nuevo Vehículo</a> {% endcomment %}
{% endblock content %}