{% extends 'base_customer.html' %}

{% block header %}
    <h1>Citas</h1>
{% endblock header %}

{% block content %}

{% comment %} <ul>
    {% for date in list_dates %}
        {% if date %}
            <li>{{ date }}</li>
        {% else %}
            {{ error }}
        {% endif %}
    {% endfor %}    
</ul> {% endcomment %}
<ul>
    {% if list_dates %}
        {% for date in list_dates %}
            <li>{{ date }}</li>
            <form action="{% url 'cancel_appointment' date.id %}" method="POST">
                {% csrf_token %}

                {% if date.inprogress or date.date_finished is not None %}
                <button disabled>
                    Cancelar Cita
                </button>
                {% else %}
                <button>
                    Cancelar Cita
                </button>
                {% endif %}
            </form>
        {% endfor %}
    {% else %}
        <li>{{ error }}</li>
    {% endif %}
</ul>



 
<a href="{% url 'register_date' %}">Registrar nueva Cita</a>



{% endblock content %}


