{% extends 'base_customer.html' %}

{% block header %}
    <h1>Registrar cita</h1>
{% endblock header %}

{% block content %}


{% if user_vehicles %}
    <form method="POST">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        <div class="input-group mb-3 justify-content-center">
            <label for="id_vehicle" class="label">
                <span name="id_vehicle" class="form-control bg-light">
                    {{ form.vehicle.label_tag }}
                    {{ form.vehicle }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="id_attention" class="label">
                <span name="id_attention" class="form-control bg-light">
                    {{ form.attention.label_tag }}
                    {{ form.attention }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="date_register" class="label">
                <span name="date_register" class="form-control bg-light">
                    {{ form.date_register.label_tag }}
                    {{ form.date_register }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="id_mechanic" class="label">
                <span name="id_mechanic" class="form-control bg-light">
                    {{ form.mechanic.label_tag }}
                    {{ form.mechanic }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="id_workshop" class="label">
                <span name="id_workshop" class="form-control bg-light">
                    {{ form.workshop.label_tag }}
                    {{ form.workshop }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="description_customer" class="label">
                <span name="description_customer" class="form-control bg-light">
                    {{ form.description_customer.label_tag }}
                    {{ form.description_customer }}
                </span>
            </label>
        </div>

        <div class="mx-auto text-center mb-3">
            <button class="btn btn-success"type="submit">
                Registrar Cita
            </button>

            <button class="btn btn-primary" type="button">
                <a href="{% url 'appointment' %}">Volver a lista de citas</a>
            </button>
        </div>
    </form>
{% else %}
    <form method="POST" disabled>
        {% csrf_token %}
        <div class="mx-auto text-center mb-3">
            <p>Primero debes registrar un vehículo antes de crear una cita.</p>
            <button class="btn btn-warning">
                <a href="{% url 'register_vehicle' %}">Registrar Vehículo</a>
            </button>
        </div>
        {% comment %} {{ form.as_p }} {% endcomment %}
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.vehicle.label_tag }}
                    {{ form.vehicle }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.attention.label_tag }}
                    {{ form.attention }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.date_register.label_tag }}
                    {{ form.date_register }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.mechanic.label_tag }}
                    {{ form.mechanic }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.workshop.label_tag }}
                    {{ form.workshop }}
                </span>
            </label>
        </div>
        <div class="input-group mb-3 justify-content-center">
            <label for="" class="label">
                <span name="" class="form-control bg-light">
                    {{ form.description_customer.label_tag }}
                    {{ form.description_customer }}
                </span>
            </label>
        </div>

        <div class="mx-auto text-center mb-3">
            <button class="btn btn-secondary"type="submit" disabled>
                Registrar Cita
            </button>
        </div>
    </form>
{% endif %}


    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>


{% endblock content %}

